# ----------- for webhook-api function -----------

APPWRITE_PROJECT_ID=loopr-project
APPWRITE_ENDPOINT=http://localhost/v1         # replace with https://<domain-name.com>/v1 in production
APPWRITE_API_KEY=your_server_api_key          # Replace 'your_server_api_key' with the API key you generate in your Appwrite project's dashboard after creating your Appwrite account
DATABASE_ID=loopr-main-database
WEBHOOKS_COLLECTION_ID=scheduled-webhooks-collection