@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: luxury --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

:root {
  --font-mono: 'Fira Mono', monospace;
}

body {
  min-height: 100vh;
  margin: 0;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}